body {
  font-family: arial, verdana, helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  background-color: lightgrey;
#  font-size: 11px;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px  
}

.intro {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px
}

.menu {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.section-header {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px
}


